<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">✂ MY BARBEARIA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Dashboard">Dashboard</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" routerLink="/pagamento">pagamento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gerenciar-servicos">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-agendar text-white" routerLink="/agendar">Agendar Agora</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  